*{
	font-family: arial, sans-serif;
	font-size: 16pt;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	outline: none;
}
body{
	background-color: #87CEFA;
}
nav {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
	padding: 20px 20px;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2rem;
	color: #1E90FF;
}
#buscar {
	max-width: 400px;
	border-radius: 25px;
	margin-top: 10px;
	background: #F5F5F5;
}
#buscar input {
	max-width: 400px;
	border-radius: 25px;
	background-color: #F5F5F5;
	font-size: 0.8rem;
	padding: 8px 10px;
	border: none;
	font-style: italic;
}
#buscar button {
	margin-left: -10px;
	padding-right: 5px;
	margin-right: 5px;
	color: #1E90FF;
	background: none;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}
.links {
	margin-top: 10px;
	display: flex;
}
.links p {
	color: #1E90FF;
	padding: 5px;
	margin-left: 50px;
	cursor: pointer;
}

/*section*/
section {
	max-width: 100%;
	margin: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo {
	max-width: 500px;
}
#check {
	display: none;
}
#check + label:before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 3px;
	margin-right: 5px;
	border: 2px solid gray;
	margin-bottom: -3px;
}
#check:checked + label:before {
	background: gray;

}
.todo label {
	padding: 10px;
	background: white;
}